*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 1em;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}
.head {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: url(img/background.jpg)
  }
  
  @supports (background-blend-mode: multiply) {
    .head {
      background: url(../img/background.jpg), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: repeat;
      background-position: center center;
    }
  }
  .head {
    --clr-accent: #faa700;
  }
  .service {
    background: radial-gradient(var(--clr-inner, yellow), var(--clr-outer, orange));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
  }
  
  .service_title {
    font-size: clamp(3rem, calc(3vw + 1rem), 3.5rem);
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
  }
  
  @media (min-width: 45em) {
    .service{
      display: block;
      margin-bottom: 9em;
    }
    .service_title {
      margin: 0;
    }
    .service_image {
      float: right;
      width: 200px;
      shape-outside: url(../img/icon-for-mobile-27.jpg);
      shape-margin: 1em;
      margin: 0 -5em 0 0;
    }
    .website.service_image {
      float: left;
      shape-outside: url(../img/icon-website-0.jpg);
      margin: 0 0 0 -5em;
      shape-margin: 2em;
    }
    .system_sotware.service_image {
      float: left;
      shape-outside: url(../img/Pngitem_4639238.png);
      margin: 0 0 0 -5em;
      shape-margin: 2em;
    }
  }
  .mobile_app {
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent: #a1173c;
    text-align: left;
  }
  
  .website {
    --clr-inner: #fce4b3;
    --clr-outer: #eac886;
    --clr-accent: #2f4858;
    text-align: left;
  }
  
  .system_sotware    {
    --clr-inner: #6dd5ed;
    --clr-outer: #2193b0;
    --clr-accent: #008951;
    text-align: left;
  }

  .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .split > * {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-width: 15em;
  }
  
  .spacing > * + * {
    margin-top: var(--spacer, 2rem);
  }.technology {
    background: #eee;
  }
  
  .technology_item {
    display: block;
    position: relative;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;
  }
  
  .technology_item:hover, .technology_item:focus {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .technology_item:hover .technology_details, .technology_item:focus .technology_details {
    opacity: 1;
    text-shadow: 0 0 2em white;
  }
  
  .technology_item::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background: #2193b0;
    z-index: -1;
  }
  
  .technology_details {
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
  }
  
  .technology_details span {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .stats {
    background: #eee;
  }
  
  .stat_item {
    display: block;
    position: relative;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;
  }
  
  .stat_item:hover, .stat_item:focus {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .stat_item:hover .stat_details, .stat_item:focus .stat_details {
    opacity: 1;
    text-shadow: 0 0 2em white;
  }
  
  .stat_item::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background: white;
    z-index: -1;
  }
  
  .stat_details {
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
  }
  
  .stat_details span {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .cntbtn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-accent,orange);
    border-radius: .25em;
    -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  }
  
  .cntbtn:hover,
  .cntbtn:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9;
  }